<div class="container" role="main">
    <h1 class="b-700">CONTACT</h1>
    <div class="wrapper center-block col-lg-12 col-md-12 col-sm-12 col-xs-12 x-bg-blue">
        <div class="col-lg-6 col-md-4">
            <br /><br />
            <h3 class="x-white">THANKS FOR CONTACTING US.</h3>
            <span class="x-white">
We will try to respond to every comment, but there may be a brief delay in getting back to you. Thank you for your interest in Distractology and for spending time with us on the site.</span>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
            <img class="img-responsive center-block" src="imgs/group-heads.png"/>
        </div>
    </div>
</div>
