<nav class="navbar" bs-navbar>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse top">
        <ul class="nav nav-justified">
            <li><a ui-sref="admin-tour({isAuth: true})" ui-sref-active="active">The Tour</a></li>
            <!--<li><a ui-sref="admin-press({isAuth: true})" ui-sref-active="active">Press & Media</a></li>-->
            <li><a ui-sref="admin-survey({isAuth: true})" ui-sref-active="active">Survey</a></li>
            <li><a ui-sref="admin-data({isAuth: true})" ui-sref-active="active">Reports</a></li>
        </ul>
    </div>
</nav>
