<div id="moduleTwo" ng-controller="ModuleTwoController as modal" ng-init="elearning.value=25">
    <div class="form-body">
        <div ng-switch="modal.getCurrentStep()" class="slide-frame">
            <div ng-switch-when="one" class="wave">
                <div class="videogular-container">
                    <videogular class="embed-responsive embed-responsive-16by9" vg-theme="modal.config.theme.url" vg-complete="modal.finished()">
                        <vg-media vg-src="modal.config.sources">
                        </vg-media>
                        <vg-controls vg-autohide="modal.config.plugins.controls.autoHide" vg-autohide-time="modal.config.plugins.controls.autoHideTime">
                            <vg-play-pause-button></vg-play-pause-button>
                            <vg-scrub-bar>
                                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                            </vg-scrub-bar>
                            <vg-fullscreen-button></vg-fullscreen-button>
                        </vg-controls>
                        <vg-overlay-play></vg-overlay-play>
                        <vg-buffering></vg-buffering>
                    </videogular>
                </div>
                <br /><br />
                <div class="a-right" ng-show="modal.showContinueButton">
                    <button class="btn btn-primary btn-lg sharp" ng-click="modal.handleNext()">{{modal.getNextLabel()}}</button>
                </div>
            </div>
            <div ng-switch-when="two" class="wave" ng-show="modal.modal10Home">
                <div class="videogular-container">
                    <videogular class="embed-responsive embed-responsive-16by9" vg-theme="modal.config.theme.url" vg-complete="modal.finished()">
                        <vg-media vg-src="modal.config.sources">
                        </vg-media>
                        <vg-controls vg-autohide="modal.config.plugins.controls.autoHide" vg-autohide-time="modal.config.plugins.controls.autoHideTime">
                            <vg-play-pause-button></vg-play-pause-button>
                            <vg-scrub-bar>
                                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                            </vg-scrub-bar>
                            <vg-fullscreen-button></vg-fullscreen-button>
                        </vg-controls>
                        <vg-overlay-play></vg-overlay-play>
                        <vg-buffering></vg-buffering>
                    </videogular>
                </div>
                <br /><br />
                <div class="a-right" ng-show="modal.showContinueButton">
                    <button class="btn btn-primary btn-lg sharp" ng-click="modal.handleNext()">{{modal.getNextLabel()}}</button>
                </div>
            </div>
            <div ng-switch-when="three" class="wave">
                <fieldset>
                    <div ng-show="modal.questions">
                        <div class="form-group orange">
                            <label class="question">Which of the following leads to distracted driving? (check all that apply)</label>
                            <div class="controls span2 pad-left-20 wizard">
                                <div class="checkbox">
                                    <input type="checkbox" checklist-model="modal.wizard.module2_question1_a" value="1">
                                    Talking on the phone
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" checklist-model="modal.wizard.module2_question1_a" value="2">
                                    Drinking coffee
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" checklist-model="modal.wizard.module2_question1_a" value="3">
                                    Chatting with friends in the backseat
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" checklist-model="modal.wizard.module2_question1_a" value="4">
                                    Fixing your hair
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" checklist-model="modal.wizard.module2_question1_a" value="5">
                                    Reading a text
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" checklist-model="modal.wizard.module2_question1_a" value="6">
                                    Verbally inputting an address into your GPS
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" checklist-model="modal.wizard.module2_question1_a" value="7">
                                    Adjusting the radio
                                </div>
                            </div>
                        </div>
                        <div class="a-right" ng-show="modal.wizard.module2_question1_a.length > 0">
                            <button class="btn btn-primary btn-lg sharp" ng-click="modal.decideRightWrongA()">{{modal.getNextLabel()}}</button>
                        </div>
                    </div>
                    <div ng-show="modal.rightThis">
                        <div class="form-group blue">
                            <label>
                                <span class="answer">Good job!</span><br />
                                Distracted driving is any activity that could divert a person's attention away from the primary task of driving.
                            </label>
                        </div>
                        <div class="a-right">
                            <button class="btn btn-primary btn-lg sharp" ng-click="modal.handleNext()">{{modal.getNextLabel()}}</button>
                        </div>
                    </div>
                    <div ng-show="modal.wrongThis">
                        <div class="form-group orange">
                            <label>
                                <span class="answer">Nope.</span><br />
                                You should have checked all of these. Distracted driving is any activity that could divert a person's attention away from the primary task of driving.
                            </label>
                        </div>
                        <div class="a-right">
                            <button class="btn btn-primary btn-lg sharp" ng-click="modal.handleNext()">{{modal.getNextLabel()}}</button>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div ng-switch-when="four" class="wave wizard">
                <fieldset>
                    <div class="form-group orange" ng-hide="modal.wizard.module2_question2 === '1' || modal.wizard.module2_question2 === '2'">
                        <label class="question">When your mind is occupied with one task, your reaction to other tasks you’re trying to do at the same time is </label>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="modal.wizard.module2_question2" value="1">
                                Diminished
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="modal.wizard.module2_question2" value="2">
                                The same
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="modal.wizard.module2_question2" value="2">
                                Increased
                            </label>
                        </div>
                    </div>
                    <div class="form-group blue" ng-show="modal.wizard.module2_question2 === '1'">
                        <label>
                            <span class="answer">Good job!</span><br />
                            Distractology tells us that when your mind is occupied with one task, your reaction to other tasks you’re trying to do at the same time is diminished.
                        </label>
                    </div>
                    <div class="form-group orange" ng-show="modal.wizard.module2_question2 === '2'">
                        <label>
                            <span class="answer">Nope.</span><br />
                            Distractology tells us that when your mind is occupied with one task, your reaction to other tasks you’re trying to do at the same time is diminished.
                        </label>
                    </div>
                    <div class="a-right" ng-show="modal.wizard.module2_question2 === '1' || modal.wizard.module2_question2 === '2'">
                        <button class="btn btn-primary btn-lg sharp" ng-click="modal.handleNext()">{{modal.getNextLabel()}}</button>
                    </div>
                </fieldset>
            </div>
            <div ng-switch-when="five" class="wave">
                <fieldset>
                    <div class="form-group orange wizard" ng-hide="modal.wizard.module2_question3 === '1' || modal.wizard.module2_question3 === '2'">
                        <h1>TRUE OR FALSE</h1>
                        <label class="question">Just listening decreases your ability to process visual movement.</label>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="modal.wizard.module2_question3" value="1">
                                True
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="modal.wizard.module2_question3" value="2">
                                False
                            </label>
                        </div>
                    </div>
                    <div class="form-group blue" ng-show="modal.wizard.module2_question3 === '1'">
                        <label>
                            <span class="answer">Good job!</span><br />
                             Activity in the area of the brain that processes movement of visual images, and is important for safe driving, decreases by as much as 37 percent when listening to language.
                        </label>
                    </div>
                    <div class="form-group orange" ng-show="modal.wizard.module2_question3 === '2'">
                        <label>
                            <span class="answer">Nope.</span><br />
                             Activity in the area of the brain that processes movement of visual images, and is important for safe driving, decreases by as much as 37 percent when listening to language.
                        </label>
                    </div>
                    <div class="a-right" ng-show="modal.wizard.module2_question3 === '1' || modal.wizard.module2_question3 === '2'">
                        <button class="btn btn-primary btn-lg sharp" ng-click="modal.handleNext()">{{modal.getNextLabel()}}</button>
                    </div>
                </fieldset>
            </div>
            <!--<div ng-switch-when="five" class="wave">
                <fieldset>
                    <div class="form-group orange" ng-hide="modal.wizard.module2_question4_a && modal.wizard.module2_question4_b && modal.wizard.module2_question4_c">
                        <label class="question pull-left">Experimental studies have shown that talking on a phone does which of the following (check all that apply):</label>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="modal.wizard.module2_question4_a">
                                Reduces a driver's reaction time
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="modal.wizard.module2_question4_b">
                                Affects how drivers scan information from the roadway
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="modal.wizard.module2_question4_c">
                                Affects how drivers process information from the roadway
                            </label>
                        </div>
                    </div>
                    <div class="form-group blue" ng-show="modal.wizard.module2_question4_a && modal.wizard.module2_question4_b && modal.wizard.module2_question4_c">
                        <label>
                            <span class="answer">Good job!</span><br />
                            Talking on a phone reduces your reaction time and affects how you scan and process information from the roadway.
                        </label>
                    </div>
                    <div class="form-group orange" ng-show="false">
                        <label>
                            <span class="answer">Nope.</span><br />
                            Talking on a phone reduces your reaction time and affects how you scan and process information from the roadway.
                        </label>
                    </div>
                    <div class="a-right" ng-show="modal.wizard.module2_question4_a && modal.wizard.module2_question4_b && modal.wizard.module2_question4_c">
                        <a class="btn btn-primary btn-lg sharp" ng-click="modal.handleNext()">{{modal.getNextLabel()}}</a>
                    </div>
                </fieldset>
            </div> -->
            <!--<div ng-switch-when="six" class="wave">
                <fieldset>
                    <div class="form-group orange" ng-hide="modal.wizard.module2_question5 === '1' || modal.wizard.module2_question5 === '2'">
                        <label class="question">You can train your brain to text and drive – it just takes a little effort.</label>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="modal.wizard.module2_question5" value="1">
                                True
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" ng-model="modal.wizard.module2_question5" value="2">
                                False
                            </label>
                        </div>
                    </div>
                    <div class="form-group blue" ng-show="modal.wizard.module2_question5 === '2'">
                        <label>
                            <span class="answer">Good job!</span><br />
                            The science of distraction tells us that because of the way we’re wired, humans actually can’t effectively do two things well at one time.
                        </label>
                    </div>
                    <div class="form-group orange" ng-show="modal.wizard.module2_question5 === '1'">
                        <label>
                            <span class="answer">Nope.</span><br />
                            The science of distraction tells us that because of the way we’re wired, humans actually can’t effectively do two things well at one time.
                        </label>
                    </div>
                    <div class="a-right" ng-show="modal.wizard.module2_question5 === '1' || modal.wizard.module2_question5 === '2'">
                        <a class="btn btn-primary btn-lg sharp" ng-click="modal.handleNext()">{{modal.getNextLabel()}}</a>
                    </div>
                </fieldset>
            </div> -->
        </div>
    </div>
</div>
