<div class="inner">
	<header>
		<div class="topbar header-slant">
			<div class="row">
				<div class="col-md-12">
					<div class="header-slant-alt">&nbsp;</div>
					<a ui-sref="home" class="brand">
						<img class="img-responsive" src="imgs/distractology-logo.png" />
					</a>
					<div class="logo pull-right">
						<img src="imgs/arbella-logo.png" />
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar" bs-navbar>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>    
			</div>
			<div class="navbar-collapse collapse top">
				<ul class="nav nav-justified">
					<li><a ui-sref="tour" ui-sref-active="active">The Tour</a></li>
					<li><a ui-sref="challenge" ui-sref-active="active">The Challenge</a></li>
					<li><a ui-sref="facts" ui-sref-active="active">Facts &amp; Stats</a></li>
					<li><a ui-sref="laws" ui-sref-active="active">Laws</a></li>
					<li><a ui-sref="press" ui-sref-active="active">Press & Media</a></li>
					<li><a ui-sref="faq" ui-sref-active="active">FAQ</a></li>
					<li><a ui-sref="contact" ui-sref-active="active">Contact</a></li>
					<li><a ui-sref="educators" ui-sref-active="active">For Educators</a></li>
				</ul>
			</div>
		</nav>
	</header>
</div>
