<div class="container main" role="main">
    <h1 class="b-700">FACTS &amp;&nbsp;STATS</h1>
    <div class="row vertical-align">
        <div id="facts" class="inner-header wrapper center-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-7 col-sm-7 col-xs-7" id="headline-text">
                    <p>Distractology aims to create a new generation of safer drivers. To date, drivers who’ve completed Distractology are proven to be 19% less likely to have major/minor accidents and 25% less likely to get traffic violations.* Take a look at the facts, stats and driving tips below to learn more about the distracted driving epidemic and how to stay safe.</p>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5" id="headline-image">
                <img class="img-responsive" src="imgs/faq/faqs_distractee.png"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>{{::facts.subtitle}}</h2>
            <div class="list-item">
                <strong>At any given time, there are 660,000 distracted drivers on the road.</strong><br/>
                Source: <i>NOPUS</i>
            </div>
            <div class="list-item">
                <strong>Distracted driving crashes kill more than 5,000 people a year.</strong><br/>
                Source: <i>NTSB</i>
            </div>
            <div class="list-item">
                <strong>Over 400,000 people are injured annually because of distracted driving.</strong><br/>
                Source: <i>Distraction.gov</i>
            </div>
            <div class="list-item">
                <strong>A single text takes your eyes off the road for 5 seconds.</strong><br/>
                Source: <i>2009, Virginia Tech Transportation Institution</i>
            </div>
            <div class="list-item">
                <strong>A quarter of teens text every time they drive.</strong><br/>
                Source: <i>UMTRI</i>
            </div>
            <div class="list-item">
                <strong>Using a phone while driving triples your risk of crashing.</strong><br/>
                Source: <i>Virginia Tech Transportation Institution</i>
            </div>
            <div class="list-item">
                <strong>Visual inattention contributes to 93% of rear-end crashes.</strong><br/>
                Source: <i>Virginia Tech Transportation Institution</i>
            </div>

            <h3>DRIVING TIPS</h2>
            <div class="muted space top bottom">Becoming a safer, less distracted driver takes a combination of skill and practice. Here are a few tips to use every time you get behind the wheel.</div>
            <div class="list-item">
                <strong>Put your phone away.</strong><br/>

                    Avoid temptation by silencing your phone and putting it out of reach.

            </div>
            <div class="list-item">
                <strong>Hands on the wheel.</strong><br/>
                Anytime you take your hands off the wheel, there’s a good chance something’s distracting you.
            </div>
            <div class="list-item">
                <strong>If you’re driving, be the driver.</strong><br/>
                As hard as it is to resist your fellow passengers, it’s your job to keep everyone safe. That means keeping your attention on the road.
            </div>
            <div class="list-item">
                <strong>Tune in.</strong><br/>
                It’s easy to let music take your mind off the road. Just keep it low and don’t get too carried away with the beat.
            </div>
            <p class="fine-print"><em>*These exciting results are based upon data obtained from Arbella Mutual Insurance Company’s youthful operators who took the Distractology training when compared to those who did not from 2010 through 2014.</em></p>
        </div>
    </div>
</div>
