<div class="mt-40 home-content">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 center-block home-copy">
            <p>Distractology is what we like to call the science of distracted driving. With Distractology, you’ll get schooled on how to become a safer driver by learning to avoid and ignore distractions on the road.</p>
            
            <p class="f-12">Sponsored by the Arbella Insurance Foundation and created based on research conducted by the Human Performance Lab at the University of Massachusetts Amherst, Distractology creates better, safer drivers with a driving simulator and follow-up online Challenge.</p>
        </div>
    </div>
    <div class="row pt-20">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 text-center center-block">
            <button type="button" class="btn btn-primary btn-lg sharp" ui-sref="challenge">Take The Challenge</button> &nbsp; 
            <button type="button" class="btn btn-primary btn-lg sharp" ui-sref="tour">Find The Tour</button>
        </div>
    </div>
</div>
