<div class="main container" role="main">
    <h1 class="b-700">LAWS</h1>
    <div class="row vertical-align">
        <div id="laws" class="wrapper inner-header center-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-7 col-sm-7 col-xs-7" id="headline-text">
               Each state has its own distracted driving laws. Below is our summary of your state’s distracted driving laws, fines and penalties. Remember to check your state’s Web site for the most up-to-date information.
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5" id="headline-image">
                <img class="img-responsive" src="imgs/laws/laws_distractee.png"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            CONNECTICUT
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="list-item">
                                <div class="schedule-details">
                                    <p><strong>Ban on all cell phone use (handheld and hands-free) for novice drivers (those under the age of 18).</strong></p>
                                    <strong>1st offense:</strong> 30 day license suspension, $125 license restoration fee plus court fines<br/>
                                    <strong>2nd offense:</strong> $250 fine, 6 month suspension or until the teen driver reaches the age of 18, whichever is longer, $125 license restoration fee, plus court fines.
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="schedule-details">
                                    <p><strong>Ban on texting for drivers of all ages.</strong></p>
                                    <strong>1st offense:</strong> $100<br/>
                                    <strong>2nd offense:</strong> $150<br/>
                                    <strong>3rd offense:</strong> $200<br/>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="schedule-details">
                                    <p><strong>Handheld ban for drivers of all ages.</strong></p>
                                    <strong>1st offense:</strong> $125<br/>
                                    <strong>2nd offense:</strong> $250<br/>
                                    <strong>3rd offense:</strong> $400<br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            MASSACHUSETTS
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="schedule-item">
                                <div class="list-item">
                                    <p><strong>Ban on texting for drivers of all ages.</strong></p>
                                    <strong>1st offense:</strong> $100<br/>
                                    <strong>2nd offense:</strong> $250<br/>
                                    <strong>3rd offense:</strong> $500<br/>
                                </div>
                            </div>
                            <div class="schedule-item">
                                <div class="list-item">
                                    <p><strong>Ban on all cell phone use (handheld and hands-free) for novice drivers (under the age of 18 with a learner’s permit or provisional license).</strong></p>
                                    <strong>1st offense:</strong> $100 fine, 60-day license suspension, mandatory driving course<br/>
                                    <strong>2nd offense:</strong>: $250 fine, 180-day license suspension<br/>
                                    <strong>3rd offense:</strong>: $500 fine, 1-year license suspension
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle  collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree">
                            NEW HAMPSHIRE
                        </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="list-item">
                                <div class="schedule-details">
                                    <p><strong>Ban on all cell phone use (handheld and hands-free) for novice drivers (those under the age of 18).</strong></p>
                                    <strong>1st offense:</strong> $50 fine<br/>
                                    <strong>2nd offense:</strong> $50 fine<br/><strong>3rd offense</strong>: $100 fine, license suspended until age 18

                                </div>
                            </div>
                            <div class="list-item">
                                <div class="schedule-details">
                                    <p><strong>Handheld ban for drivers of all ages</strong></p>
                                    <strong>1st offense:</strong> $100 fine<br/>
                                    <strong>2nd offense:</strong> $250 fine<br/>
                                    <strong>3rd offense:</strong> $500 fine<br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion4" href="#collapseFour">
                            RHODE ISLAND
                        </a>
                    </div>
                    <div id="collapseFour" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="list-item">
                                <div class="schedule-details">
                                    <p><strong>Ban on all cell phone use (handheld and hands-free) for novice drivers (those under the age of 18).</strong></p>
                                    <strong>1st offense:</strong> $50 fine<br/>
                                    <strong>2nd offense:</strong> $50 fine<br/>
                                    <strong>3rd offense:</strong> $100 fine, license suspended until age 18<br/>
                                </div>
                            </div>
                            
                            <div class="list-item">
                                <div class="schedule-details">
                                    <p><strong>Ban on texting for drivers of all ages.</strong></p>
                                    <strong>1st offense:</strong> $85 fine<br/>
                                    <strong>2nd offense:</strong> $100 fine<br/>
                                    <strong>3rd offense:</strong> $125 fine<br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
