<div class="container main" role="main">    
    <h1 class="b-700">FAQ</h1>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            
            <div id="toc">
                <p><a href="" scroll-to="faq1">What is Distractology?</a></p>
                <p><a href="" scroll-to="faq2">What are the benefits of the program?</a></p>
                <p><a href="" scroll-to="faq3">How much does the program cost?</a></p>
                <p><a href="" scroll-to="faq4">Who is eligible for this training?</a></p>
                <p><a href="" scroll-to="faq5">How many students can receive the training at one time?</a></p>
                <p><a href="" scroll-to="faq6">How long is the training? How many students can go through the program in a week?</a></p>
                <p><a href="" scroll-to="faq7">What do the students need to bring with them to their appointment?</a></p>
                <p><a href="" scroll-to="faq8">Is the school in charge of operating the trailer/program?</a></p>
                <p><a href="" scroll-to="faq9">How long are we able to host the program?</a></p>
                <p><a href="" scroll-to="faq10">Where should we park the trailer?</a></p>
                <p><a href="" scroll-to="faq11">What are the best techniques to get students to sign up for the program?</a></p>                
                <p><a href="" scroll-to="faq12">How do we schedule students?</a></p>
                <p><a href="" scroll-to="faq13">Has a background check been performed on the program’s trainer? Is anyone else in the trailer with the students?</a></p>
                <p><a href="" scroll-to="faq14">What happens if the trailer is damaged or vandalized while on school property?</a></p>
            </div>
            
            <div id="faq1" class="list-item">
                <strong>What is Distractology?</strong><br/>
Distractology is an innovative and effective program that teaches inexperienced drivers about the dangers of distracted driving. The program consists of a 45-minute instructional learning experience behind the wheel of our driving simulator combined with a 20-minute web reinforcement of what the students learned inside the trailer. <a href="" scroll-to="toc">Back to top</a>
            </div>
            <div id="faq2" class="list-item">
                <strong>What are the benefits of the program?</strong><br/>
Each student who participates in the program will receive invaluable knowledge about the dangers of distracted driving. Specifically, our trainer goes into great detail on the dangers of texting while driving. Students will get to experience these dangers firsthand while in the safety of a driving simulator. Students who participate also receive a $15 gas card!
  <a href="" scroll-to="toc">Back to top</a>
            </div>  
            <div id="faq3" class="list-item">
                <strong>How much does the program cost?</strong><br/>
The Distractology program is free! There is no cost to the hosting school or insurance agency.
 <a href="" scroll-to="toc">Back to top</a>
            </div>
            <div id="faq4" class="list-item">
                <strong>Who is eligible for this training?</strong><br/>
Distractology is geared toward inexperienced drivers—those who have their learner’s permit or who have been licensed for fewer than three years.
 <a href="" scroll-to="toc">Back to top</a>
            </div>
            <div id="faq5" class="list-item">
                <strong>How many students can receive the training at one time?</strong><br/>
Our mobile classroom allows for two students to be trained simultaneously.
 <a href="" scroll-to="toc">Back to top</a>
            </div>
            <div id="faq6" class="list-item">
                <strong>How long is the training? How many students can go through the program in a week?</strong><br/>
Typically, the training is 45 minutes long. The trailer is open each day for eight hours, which allows for 18 appointments a day. A full week would educate about 90 students.
  <a href="" scroll-to="toc">Back to top</a>
            </div>
            <div id="faq7" class="list-item">
                <strong>What do the students need to bring with them to their appointment?</strong><br/>
A cellphone and license or permit, if they have them.
 <a href="" scroll-to="toc">Back to top</a>
            </div>
            <div id="faq8" class="list-item">
                <strong>Is the school in charge of operating the trailer/program?</strong><br/>
The Distractology program does not require any hands-on operation or maintenance from the school or hosting insurance agency. Each day, our Distractology trainer will be on-site to instruct the students. The trainer is in charge of opening and closing the trailer at the beginning and end of each day. The trailer is self-sufficient and does not require any power sources or materials from the school.
 <a href="" scroll-to="toc">Back to top</a>
            </div>
            <div id="faq9" class="list-item">
                <strong>How long are we able to host the program?</strong><br/>
The program is available to your school for one week (five days). You have the option to host from Monday through Friday or Tuesday through Saturday.
 <a href="" scroll-to="toc">Back to top</a>
            </div>
            <div id="faq10" class="list-item">
                <strong>Where should we park the trailer?</strong><br/>
Visibility is crucial! The best place to park the trailer is the most visible section of campus. This will give it the most exposure and get the students/town asking, “What is that big orange and blue trailer?”  <a href="" scroll-to="toc">Back to top</a>
            </div>
            <div id="faq11" class="list-item">
                <strong>What are the best techniques to get students to sign up for the program?</strong><br/>
The Distractology program comes with its own marketing kit! Arbella will work closely with the school to customize language for each of the materials mentioned below: <a href="" scroll-to="toc">Back to top</a>
                <br /><br />
                
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 align-top">
                        <strong>Posters</strong>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8 align-top">
Our Distractology posters are a great tool to spread around the school to increase awareness before the trailer arrives. They’re also great for letting students know how they can sign up.
                    </div>
                </div>
                <div class="row top-20">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 align-top">
                        <strong>Postcards</strong>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8 align-top">

These can be used as a confirmation tool within the school. After a student has signed up, he/she will receive a postcard with a scheduled time. The postcard can be utilized as a hall pass or to prove to a teacher that a student has a confirmed Distractology appointment. 

                    </div>
                </div>
                <div class="row top-20">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 align-top">
                        <strong>Announcement Script</strong>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8 align-top">

Utilize your PA system during morning/afternoon announcements to incorporate the Distractology script. Again, this helps raise awareness.
                    </div>
                </div>
                <div class="row top-20">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 align-top">
                        <strong>Email</strong>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8 align-top">

If you have an email communication list, we highly recommend using one of our templates to educate parents and guardians. Typically, when parents hear about the trailer, they encourage their kids to sign up.

                    </div>
                </div>
                
                <div class="row top-20">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 align-top">
                        <strong>Generic Card</strong>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8 align-top">

Our generic card contains basic information about the program. This can be used as another tool to increase awareness throughout the school that the trailer is coming.

                    </div>
                </div>
                
                <div class="row top-20">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 align-top">
                        <strong>Social Media / School Website</strong>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8 align-top">


Arbella has a Distractology intro video that can be uploaded to your school’s Web site or social media channels. This is a great way to show people exactly how the program works.
                    </div>
                </div>
                
                <div class="row top-20">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 align-top">
                        <strong>Phone Calls to Parents</strong>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-8 align-top">


Discussing the program and its benefits with the parents emphasizes its importance and encourages them to sign up their student to participate.
 



                    </div>
                </div>
            </div>
            <div id="faq12" class="list-item">
                <strong>How do we schedule students?</strong><br/>
Arbella will send a customized schedule a few weeks prior to the trailer’s arrival. We suggest appointing a contact person within the school (teacher/administrator)—someone students may approach about signing up. After the student has signed up, the point person can hand the student a postcard confirming the scheduled appointment time. Slots will fill up fast! We recommend also keeping a waiting list of interested students for use in the event of any cancellations.
  <a href="" scroll-to="toc">Back to top</a>
            </div>
            <div id="faq13" class="list-item">
                <strong>Has a background check been performed on the program’s trainer? Is anyone else in the trailer with the students?</strong><br/>
Safety is our number one priority. Our trainers undergo an extensive background check prior to coming onboard. Arbella performs the same extensive background checks on agency representatives who are in contact with students. Our trainer, along with agency representatives, will also complete the necessary school CORI check. The trailer is also outfitted with interior cameras to monitor activity.
  <a href="" scroll-to="toc">Back to top</a>
            </div>
            <div id="faq14" class="list-item">
                <strong>What happens if the trailer is damaged or vandalized while on school property?</strong><br/>

What happens if the trailer is damaged or vandalized while on school property?
Before the trailer arrives, Arbella will provide both the town and agency with a certificate of insurance. The certificate will cover any liability or negligence that may occur during the event. Arbella provides the trailer with its own auto policy to cover any damages that may occur while on school property. <a href="" scroll-to="toc">Back to top</a>
            </div>
        </div>
    </div>    
</div>
