<footer class="pad-top">
	<div class="copyright">
		<ul class="footer-nav">
			<li><a href="https://connect.arbella.com/" target="ins" ui-sref-active="active">For Ins. Agents Only</a></li>
			<!--<li><a ui-sref="press" ui-sref-active="active">Press &amp; Media</a></li>-->                        
			<li><a href="http://www.arbella.com/arbella-insurance/why-arbella/arbella-insurance-foundation" target="new" ui-sref-active="active">About Arbella Foundation</a></li>
			<li><a ui-sref="contact" ui-sref-active="active">Contact Us</a></li>
			<li><a ui-sref="privacy" ui-sref-active="active">Privacy Policy</a></li>
			<li><a ui-sref="terms" ui-sref-active="active">Terms of Use</a></li>
		</ul>
		<small>
			&copy; 2016 The Arbella Insurance Foundation
		</small>
	</div>
</footer>
