<div class="main container" role="main">
    <h1 class="b-700">{{::landing.title}}</h1>
    <p>
        At the Arbella Insurance Foundation, we believe that educators in the classroom have a very important role to play in educating teen drivers on the risks of distracted driving. We have created a suite of content for download that range from a classroom presentation you can present to your students, to a fact sheet about research on the dangers of distracted driving, to a number of classroom exercises that can be used in a number of different subjects.</p>
<p>
We invite you to incorporate any or all of these materials into your school curriculum as we continue to partner with you to ensure teens become safer, more focused drivers. And we welcome your feedback on these materials. Please send feedback to Brenna Morrissey, Distractology Coordinator, at <a href="mailto:brenna.morrissey@arbella.com">brenna.morrissey@arbella.com.</a></p>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

<h3 class="b-700">Distractology Content Suite
</h3><p>Download the complete content suite that includes Getting Ready for the Tour, Distracted Data Sheet, the Classroom Presentation, Subject-Specific Classroom Materials, Additional Materials and The Pledge.
</p><a href="media/Educational Portal.zip" class="btn btn-primary btn-lg sharp" target="resources">Download All (zip)</a>
<br><br>

<h3 class="b-700"> Getting Ready for the Tour
</h3><p>Everything you need to know about the Arbella Insurance Foundation’s Distractology program, the Distractology Tour, and how you can use these materials.
</p><a href="media/Get_Ready_For_The_Tour.pdf" class="btn btn-primary btn-lg sharp" target="resources">DOWNLOAD</a><br><br>

<h3 class="b-700"> Distracted Data Sheet
</h3><p>    A data sheet that you can use to share the research about the risks of distracted driving.
</p><a href="media/Distracted_Data_Sheet.pdf" class="btn btn-primary btn-lg sharp" target="resources">DOWNLOAD</a><br><br>

<h3 class="b-700"> Classroom Presentation
</h3><p>A classroom PowerPoint presentation that will help you lead a robust discussion about the risks of distracted driving, and what teen drivers can do to be safer behind the wheel.<p>

<h4>Download version that references the Distractology mobile classroom tour.</h4>
<a href="media/Mobile-Tour.zip" class="btn btn-primary btn-lg sharp" target="resources">DOWNLOAD</a>
<h4>Download version that educators can use without referencing the Distractology mobile classroom tour.</h4>
<a href="media/No-Tour.zip" class="btn btn-primary btn-lg sharp" target="resources">DOWNLOAD</a>
<br><br>

<h3 class="b-700"> Classroom Materials: General Class/English
</h3><p>Suggested curriculum that can be used to prompt discussions about the risks of distracted driving in an English class or general classroom setting, such as Study Hall.
</p><a href="media/Distractology_General_English.pdf" class="btn btn-primary btn-lg sharp" target="resources">DOWNLOAD</a><br><br>

<h3 class="b-700"> Classroom Materials: Mathematics
</h3><p>Suggested curriculum that can be used to prompt discussions about the risks of distracted driving in a math class.
</p><a href="media/Distractology Math 020216_v2.pdf" class="btn btn-primary btn-lg sharp" target="resources">DOWNLOAD</a><br><br>

<h3 class="b-700"> Classroom Materials: Psychology
</h3><p>Suggested curriculum that can be used to prompt discussions about the risks of distracted driving in a psychology class.
</p><a href="media/Distractology_Psychology.pdf" class="btn btn-primary btn-lg sharp" target="resources">DOWNLOAD</a><br><br>

<h3 class="b-700"> Classroom Materials: Science
</h3><p>Suggested curriculum that can be used to prompt discussions about the risks of distracted driving in a science class.
</p><a href="media/Distractology_Science.pdf" class="btn btn-primary btn-lg sharp" target="resources">DOWNLOAD</a><br><br>

<h3 class="b-700">Video and Online Resources
</h3><p>A list of suggested additional online resources, including video and other digital media, available for students to learn more about the risks of distracted driving.
</p><a href="media/Distractology_Video-and_Online_Resources.pdf" class="btn btn-primary btn-lg sharp" target="resources">DOWNLOAD</a><br><br>

<h3 class="b-700"> Post-Distractology Tour Conversation Guide
</h3><p>Suggested curriculum that can be used to discuss your students' experience with the Distractology Program after they have completed the program.
</p><a href="media/Post-Distractology_Discussion_Guide.pdf" class="btn btn-primary btn-lg sharp" target="resources">DOWNLOAD</a><br><br>

<h3 class="b-700"> The Pledge
</h3><p>    Help your students commit to safer driving with the Distractology Pledge.
</p><a href="media/Distractology_Pledge.pdf" class="btn btn-primary btn-lg sharp" target="resources">DOWNLOAD</a><br><br>           
<!--            <h3 class="b-700">Other Resources</h3>
            <div class="list-item">
                Lorem Ipsum Title<br/>
                <span class="x-orange">www.otherresources.com</span>
            </div>
            
            <div class="list-item">
                Lorem Ipsum Title<br/>
                <span class="x-orange">www.otherresources.com</span>
            </div>
            
            <div class="list-item">
                Lorem Ipsum Title<br/>
                <span class="x-orange">www.otherresources.com</span>
            </div>
            -->
        </div>
    </div>
</div>
